
.title {
	color: #5C6AC4;
}

.topbar
{
  top:0;
  left:0;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: #e91e63 !important;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.app-name
{
  font-size: 2rem;
  line-height: 1.5rem; 
  font-family: Roboto Flex, sans-serif;
  color: rgb(124 58 237);
  margin-left: 40%;
}

.sidebar
{
  width: 17.5vw;
  height: 100%;
  z-index: 50;
  top:0;
  left:0;
/*   margin-top: 8vh; */
  position: fixed;
  background-color: rgb(241 245 249);
}

.sidebar-content
{
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: 1.25rem;
  overflow-y: auto;
  width: 90%;
  position: relative;
}

.menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  /*list-style-type: disc;*/
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 1.5vh;
}

.list-item:hover {
  background-color: #cbd5e1;
  border-radius: 0.5rem;
}

.active:hover {
  background-color: rgb(221 214 254);
  color: rgb(124 58 237);
  border-radius: 0.5rem;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 12.5vw;
}

button 
{
  border: none; 
  background: none;
}

span 
{
  font-size: 1.20rem;
  line-height: 1.25rem; 
  font-family: Roboto Flex, sans-serif;
  display: block;
}

/* svg {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  vertical-align: middle;
}
 */
.logo {
  text-align: center; 
  margin-left: -1em;
  margin-top: -1em;
}

.dropdown {
  margin-top: 105px;
  max-height: 40vh;
  overflow-y: auto;
}

.accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  margin-right: 1vw;
}

.account {
  width: 250px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.account:hover {
  background-color: rgb(221 214 254);
  color: rgb(124 58 237);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-right: 20px;
}

.account-info {
  flex: 1;
  text-align: left;
}

.account p {
  color: #34495e;
  font-size: 16px;
  font-family: Roboto Flex, sans-serif;
  font-weight: bold;
  margin: 10px 0;
}

.current-account {
  border: 2px solid #2980b9;
  box-shadow: 0 0 20px rgba(41, 128, 185, 0.5);
}

.dropdown {
  margin-left: -40px;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.show-dropdown {
  display: block;
}

.switch-icon {
  display: flex;
  justify-content: center;
}

.switch-icon button {
  margin-top: 3vh;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.down-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #34495e; 
}

.active {
    background-color: rgb(221 214 254);
    color: rgb(124 58 237);
}